<footer class="page_footer ds ms s-pt-100 c-gutter-60">
  <section class="cs s-bordertop s-py-40">
    <div class="container-fluid">
      <div class="row">
        <div class="d-none d-lg-block divider-10"></div>
        <div class="col-sm-12 text-center">
          <div class="owl-carousel partners-carousel" data-center="true" data-loop="true" data-responsive-lg="7 " data-responsive-md="4" data-responsive-sm="3" data-responsive-xs="2">
            <a href="#">
              <%= image_tag "partners/01.png", alt: "alttext" %>
            </a>
            <a href="#">
              <%= image_tag "partners/02.png", alt: "alttext" %>
            </a>
            <a href="#">
              <%= image_tag "partners/03.png", alt: "alttext" %>
            </a>
            <a href="#">
              <%= image_tag "partners/04.png", alt: "alttext" %>
            </a>
            <a href="#">
              <%= image_tag "partners/05.png", alt: "alttext" %>
            </a>
            <a href="#">
              <%= image_tag "partners/06.png", alt: "alttext" %>
            </a>
            <a href="#">
              <%= image_tag "partners/07.png", alt: "alttext" %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="s-pt-5 s-pb-10 s-pt-md-5 s-pb-md-50 s-pt-lg-130 s-pb-lg-50">
    <div class="container">
      <div class="row">
        <div class="divider-65"></div>

<!--         <div class="col-md-6 col-lg-4 text-center animate order-md-2 order-lg-1" data-animation="fadeInUp">
          <div class="widget widget_mailchimp">

            <h3 class="widget-title">Newsletter</h3>

            <p>
              Subscribe to our Newsletter to be updated,
              <br> we promise not to spam.
            </p>

            <form class="signup" action="/">
              <label for="mailchimp_email">
                <span class="screen-reader-text">Subscribe:</span>
              </label>

              <input id="mailchimp_email" name="email" type="email" class="form-control mailchimp_email" placeholder="Email Address">

              <button type="submit" class="search-submit">
                <span class="screen-reader-text">Subscribe</span>
              </button>
              <div class="response"></div>
            </form>

          </div>
        </div> -->

        <div class="col-md-12 col-lg-4 text-center animate order-md-1 order-lg-2" data-animation="fadeInUp">

          <div class="widget widget_text widget-logo" style="height: 10rem;">
            <%= link_to root_path, class: "logo flex-column" do  %>
              <%= cl_image_tag "logo-rgm_o34ajj", width: 400, height: 400 %>
            <% end %>
          </div>

          <div class="widget widget_social_buttons">
            <a href="#" class="fa fa-facebook color-icon border-icon rounded-icon" title="facebook"></a>
            <a href="#" class="fa fa-twitter color-icon border-icon rounded-icon" title="twitter"></a>
            <a href="#" class="fa fa-google color-icon border-icon rounded-icon" title="google"></a>
          </div>
        </div>

<!--         <div class="col-md-6 col-lg-4 text-center animate order-md-3 order-lg-3" data-animation="fadeInUp">
          <div class="widget widget_latest_news">
            <h3>Latest News</h3>
            <div>
              <h6>
                <a href="blog-single-right.html">Lorem ipsum doloamet consetetur sadipscing</a>
              </h6>
              <div class="entry-meta text-center">
                <span>
                  <i class="color-main fa fa-calendar" aria-hidden="true"></i>
                  <a href="blog-single-@@type.html" rel="bookmark">
                    03.10.17
                  </a>
                </span>
                <span>
                  <i class="color-main fa fa-user-o" aria-hidden="true"></i>
                  <a href="blog-single-@@type.html" rel="bookmark">
                    Admin
                  </a>
                </span>
                <span>
                  <i class="color-main fa fa-paperclip" aria-hidden="true"></i>
                  <a href="blog-single-@@type.html" rel="bookmark">
                    news
                  </a>
                </span>
              </div>
            </div>
            <div class="odd">
              <h6>
                <a href="blog-single-right.html">Sed diam nonumy eirmod tempor invidunt</a>
              </h6>
              <div class="entry-meta text-center">
                <span>
                  <i class="color-main fa fa-calendar" aria-hidden="true"></i>
                  <a href="blog-single-@@type.html" rel="bookmark">
                    06.10.17
                  </a>
                </span>
                <span>
                  <i class="color-main fa fa-user-o" aria-hidden="true"></i>
                  <a href="blog-single-@@type.html" rel="bookmark">
                    Admin
                  </a>
                </span>
                <span>
                  <i class="color-main fa fa-paperclip" aria-hidden="true"></i>
                  <a href="blog-single-@@type.html" rel="bookmark">
                    news
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div> -->

        <div class="d-none d-lg-block divider-10"></div>
      </div>
    </div>
  </section>
</footer>
