<div class="header_absolute">
  <header class="page_header ds justify-nav-center">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-xl-2 col-lg-3 col-11">
          <%= link_to root_path, data: { turbolinks: false }, class: "logo" do  %>
            <%= cl_image_tag "logo-rgm_o34ajj", width: 150 %>
          <% end %>
        </div>
        <div class="col-xl-8 col-lg-6 col-1 text-sm-center">
          <!-- main nav start -->
          <nav class="top-nav">
            <ul class="nav sf-menu">
              <li class="">
                <%= link_to "Inicio", root_path, data: { turbolinks: false } %>
              </li>
              <li>
                <a href="#services">Servicios</a>
                <ul>
                  <li>
                    <%= link_to "Carpintería de aluminio y cristaleria", service_1_path, data: { turbolinks: false }  %>
                  </li>
                  <li>
                    <%= link_to "Estructuras metálicas", service_2_path, data: { turbolinks: false }  %>
                  </li>
                  <li>
                    <%= link_to "Soldadores", service_3_path, data: { turbolinks: false }  %>
                  </li>
                  <li>
                    <%= link_to "Cortinas de cristal LUMON", service_4_path, data: { turbolinks: false }  %>
                  </li>
                  <li>
                    <%= link_to "Muebles", service_5_path, data: { turbolinks: false }  %>
                  </li>
                </ul>
              </li>
              <li>
                <%= link_to "Sobre nosotros", about_path, data: { turbolinks: false } %>
              </li>
              <!-- gallery -->
              <li>
                <%= link_to "Portfolio", gallery_path, data: { turbolinks: false } %>
              </li>
              <!-- eof Gallery -->

              <!-- contacts -->
              <li>
                <a href="contact.html">Contacts</a>
                <ul>
                  <li>
                    <a href="contact.html">Contact 1</a>
                  </li>
                  <li>
                    <a href="contact2.html">Contact 2</a>
                  </li>
                  <li>
                    <a href="contact3.html">Contact 3</a>
                  </li>
                  <li>
                    <a href="contact4.html">Contact 4</a>
                  </li>
                  <li>
                    <a href="contact5.html">Contact 5</a>
                  </li>
                </ul>
              </li>
              <!-- eof contacts -->
            </ul>


          </nav>
          <!-- eof main nav -->
        </div>
        <div class="col-xl-2 col-lg-3 text-md-left text-xl-right d-none d-lg-block">

          <ul class="top-includes">


            <li>

              <span class="social-icons">
                <a href="#" class="fa fa-facebook border-icon rounded-icon" title="facebook"></a>
                <a href="#" class="fa fa-twitter border-icon rounded-icon" title="twitter"></a>
                <a href="#" class="fa fa-google border-icon rounded-icon" title="google"></a>
              </span>
            </li>


          </ul>

        </div>
      </div>
    </div>
    <!-- header toggler -->
    <span class="toggle_menu">
      <span></span>
    </span>
  </header>
</div>
