<section class="s-py-0 container-px-0 gallery-main ds" id="gallery">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="row justify-content-center gallery-filters">
          <div class="col-md-10 col-xl-5">
            <div class="filters small-text text-lg-right">
              <a href="#" data-filter="*" class="active selected">Portfolio</a>
              <a href="#" data-filter=".carpinteria">aluminio y cristalería</a>
              <a href="#" data-filter=".estructuras">estructuras metálicas</a>
              <a href="#" data-filter=".puertas">puertas</a>
              <a href="#" data-filter=".muebles">muebles</a>
              <a href="#" data-filter=".lumon">cristal de LUMON</a>
              <a href="#" data-filter=".acero">acero inoxidable</a>
            </div>
          </div>
        </div>
        <div class="row isotope-wrapper masonry-layout c-gutter-0 c-mb-0" data-filters=".gallery-filters">

          <!-- Carpinteria de aluminio start -->
          <div class="col-xl-3 col-sm-6 carpinteria">
            <div class="vertical-item item-gallery content-absolute text-center">
              <div class="item-media ds">
                <%= link_to gallery_path, data: { turbolinks: false } do  %>
                  <%= cl_image_tag "mallorquinas_rptrdx", height: 480, width: 480, crop: "fill" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 carpinteria">
            <div class="vertical-item item-gallery content-absolute text-center">
              <div class="item-media ds">
                <%= link_to gallery_path, data: { turbolinks: false } do  %>
                  <%= cl_image_tag "barandilla-3", height: 480, width: 480, crop: "fill" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 carpinteria">
            <div class="vertical-item item-gallery content-absolute text-center">
              <div class="item-media ds">
                <%= link_to gallery_path, data: { turbolinks: false } do  %>
                  <%= cl_image_tag "barandilla-2", height: 480, width: 480, crop: "fill" %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-sm-6 carpinteria">
            <div class="vertical-item item-gallery content-absolute text-center">
              <div class="item-media ds">
                <%= link_to gallery_path, data: { turbolinks: false } do  %>
                  <%= cl_image_tag "carpinteria_aluminio_can_nebot_y2wguk", height: 480, width: 480, crop: "fill" %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-sm-6 carpinteria">
            <div class="vertical-item item-gallery content-absolute text-center">
              <div class="item-media ds">
                <%= link_to gallery_path, data: { turbolinks: false } do  %>
                  <%= cl_image_tag "carpinteria_aluminio_formentera_opjxtz", height: 480, width: 480, crop: "fill" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 carpinteria">
            <div class="vertical-item item-gallery content-absolute text-center">
              <div class="item-media ds">
                <%= link_to gallery_path, data: { turbolinks: false } do  %>
                  <%= cl_image_tag "carpinteria_fachada_can_nebot_h627v2", height: 480, width: 480, crop: "fill" %>
                <% end %>
              </div>
            </div>
          </div>
          <!-- Carpinteria de aluminio end -->
          <!-- Estructuras start -->
          <div class="col-xl-3 col-sm-6 estructuras">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <div class="item-media">
                <%= link_to gallery_path, data: { turbolinks: false } do  %>
                  <%= cl_image_tag "santiago-steinkamp-t1zo-_yx5c0-unsplash_lhzfjn", height: 480, width: 480, crop: "fill" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 estructuras">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <div class="item-media">
                <%= link_to gallery_path, data: { turbolinks: false } do  %>
                  <%= cl_image_tag "spencer-davis-yxP-M0JFDTM-unsplash_bfumvw", height: 480, width: 480, crop: "fill" %>
                <% end %>
              </div>
            </div>
          </div>
          <!-- Estructuras end -->
          <!-- Puertas start -->
          <div class="col-xl-3 col-sm-6 puertas">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <div class="item-media">
                <%= link_to gallery_path, data: { turbolinks: false } do  %>
                  <%= cl_image_tag "puertas_correderas_con_motor_ud6jmr", height: 480, width: 480, crop: "fill" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 puertas">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <div class="item-media">
                <%= link_to gallery_path, data: { turbolinks: false } do  %>
                  <%= cl_image_tag "puertas_correderas_corten_hntqw5", height: 480, width: 480, crop: "fill" %>
                <% end %>
              </div>
            </div>
          </div>
          <!-- Puertas end -->
          <!-- Muebles start -->
          <div class="col-xl-3 col-sm-6 muebles">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <div class="item-media">
                <%= link_to gallery_path, data: { turbolinks: false } do  %>
                  <%= cl_image_tag "estructura_mesa_porche_casa_campo_bnpy8i", height: 480, width: 480, crop: "fill" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 muebles">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <div class="item-media">
                <%= link_to gallery_path, data: { turbolinks: false } do  %>
                  <%= cl_image_tag "mueble-2", height: 480, width: 480, crop: "fill" %>
                <% end %>
              </div>
            </div>
          </div>

          <!-- Muebles end -->
          <!-- Lumon start -->
          <div class="col-xl-3 col-sm-6 lumon">
            <div class="vertical-item item-gallery content-absolute text-center">
              <div class="item-media ds">
                <%= link_to gallery_path, data: { turbolinks: false } do  %>
                  <%= cl_image_tag "cerramientos_lumon_terraza_ldrstp", height: 480, width: 480, crop: "fill" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 lumon">
            <div class="vertical-item item-gallery content-absolute text-center">
              <div class="item-media ds">
                <%= link_to gallery_path, data: { turbolinks: false } do  %>
                  <%= cl_image_tag "fotos-de-porches-056_ln0zhs", height: 480, width: 480, crop: "fill" %>
                <% end %>
              </div>
            </div>
          </div>
          <!-- Lumon end -->
          <!-- Barandillas start -->
          <div class="col-xl-3 col-sm-6 acero">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <div class="item-media">
                <%= link_to gallery_path, data: { turbolinks: false } do  %>
                  <%= cl_image_tag "barandilla_escalera_cristal_w8wutb", height: 480, width: 480, crop: "fill" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 acero">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <div class="item-media">
                <%= link_to gallery_path, data: { turbolinks: false } do  %>
                  <%= cl_image_tag "tusik-only-CQGZ9jA1s7Q-unsplash_oifsga", height: 480, width: 480, crop: "fill" %>
                <% end %>
              </div>
            </div>
          </div>
          <!-- Barandillas end -->
        </div>
        <!-- .isotope-wrapper-->
      </div>
      <div class="d-none d-lg-block divider-20"></div>
    </div>
  </div>
</section>
