<div class="col-xl-6 col-sm-6 carpinteria">
  <div class="vertical-item text-center gallery-padding hero-bg">
    <div class="item-media">
      <%= cl_image_tag "mallorquinas_rptrdx", width: 300, height: 300, gravity: "auto", crop: "fill" %>
      <div class="media-links">
        <div class="links-wrap">
          <a class="link-zoom photoswipe-link" title="" href="https://res.cloudinary.com/rgm-ibiza-metal/image/upload/v1624898303/mallorquinas_rptrdx.jpg"></a>
        </div>
      </div>
    </div>
    <div class="item-content">
      <h3 class="gallery-title">
        Lorem ipsum dolor sit
      </h3>
      <p style="display: inline-block;line-height: 1;font-size: 1rem;text-transform: uppercase;font-weight: 500;letter-spacing: 0.2em;margin: 8px 4px 0 0;color: #f9a34f;">Aluminio y cristalería</p>
      <p>A atque deleniti dolorum, labore maiores neque quae quidem ratione vel. Ad aspernatur facere iste!</p>
    </div>
  </div>
</div>
<div class="col-xl-6 col-sm-6 carpinteria">
  <div class="vertical-item text-center gallery-padding hero-bg">
    <div class="item-media">
      <%= cl_image_tag "barandilla-3", width: 300, height: 300, gravity: "auto", crop: "fill" %>
      <div class="media-links">
        <div class="links-wrap">
          <a class="link-zoom photoswipe-link" title="" href="https://res.cloudinary.com/rgm-ibiza-metal/image/upload/v1624901367/barandilla-3.jpg"></a>
        </div>
      </div>
    </div>
    <div class="item-content">
      <h3 class="gallery-title">
        Lorem ipsum dolor sit
      </h3>
      <p style="display: inline-block;line-height: 1;font-size: 1rem;text-transform: uppercase;font-weight: 500;letter-spacing: 0.2em;margin: 8px 4px 0 0;color: #f9a34f;">Aluminio y cristalería</p>
      <p>A atque deleniti dolorum, labore maiores neque quae quidem ratione vel. Ad aspernatur facere iste!</p>
    </div>
  </div>
</div>
<div class="col-xl-6 col-sm-6 carpinteria">
  <div class="vertical-item text-center gallery-padding hero-bg">
    <div class="item-media">
      <%= cl_image_tag "barandilla-2", width: 300, height: 300, gravity: "auto", crop: "fill" %>
      <div class="media-links">
        <div class="links-wrap">
          <a class="link-zoom photoswipe-link" title="" href="https://res.cloudinary.com/rgm-ibiza-metal/image/upload/b_black,c_lpad,h_1000,w_1000/barandilla-2.jpg"></a>
        </div>
      </div>
    </div>
    <div class="item-content">
      <h3 class="gallery-title">
        Lorem ipsum dolor sit
      </h3>
      <p style="display: inline-block;line-height: 1;font-size: 1rem;text-transform: uppercase;font-weight: 500;letter-spacing: 0.2em;margin: 8px 4px 0 0;color: #f9a34f;">Aluminio y cristalería</p>
      <p>A atque deleniti dolorum, labore maiores neque quae quidem ratione vel. Ad aspernatur facere iste!</p>
    </div>
  </div>
</div>

<div class="col-xl-6 col-sm-6 carpinteria">
  <div class="vertical-item text-center gallery-padding hero-bg">
    <div class="item-media">
      <%= cl_image_tag "carpinteria_aluminio_can_nebot_y2wguk", width: 300, height: 300, gravity: "auto", crop: "fill" %>
      <div class="media-links">
        <div class="links-wrap">
          <a class="link-zoom photoswipe-link" title="" href="https://res.cloudinary.com/rgm-ibiza-metal/image/upload/v1620981166/carpinteria_aluminio_can_nebot_y2wguk.jpg"></a>
        </div>
      </div>
    </div>
    <div class="item-content">
      <h3 class="gallery-title">
        Lorem ipsum dolor sit
      </h3>
      <p style="display: inline-block;line-height: 1;font-size: 1rem;text-transform: uppercase;font-weight: 500;letter-spacing: 0.2em;margin: 8px 4px 0 0;color: #f9a34f;">Aluminio y cristalería</p>
      <p>A atque deleniti dolorum, labore maiores neque quae quidem ratione vel. Ad aspernatur facere iste!</p>
    </div>
  </div>
</div>

<div class="col-xl-6 col-sm-6 carpinteria">
  <div class="vertical-item text-center gallery-padding hero-bg">
    <div class="item-media">
      <%= cl_image_tag "carpinteria_aluminio_formentera_opjxtz", width: 300, height: 300, gravity: "auto", crop: "fill" %>
      <div class="media-links">
        <div class="links-wrap">
          <a class="link-zoom photoswipe-link" title="" href="https://res.cloudinary.com/rgm-ibiza-metal/image/upload/v1620983026/carpinteria_aluminio_formentera_opjxtz.jpg"></a>
        </div>
      </div>
    </div>
    <div class="item-content">
      <h3 class="gallery-title">
        <a href="gallery-single.html">Amet conseur sadi</a>
      </h3>
      <p style="display: inline-block;line-height: 1;font-size: 1rem;text-transform: uppercase;font-weight: 500;letter-spacing: 0.2em;margin: 8px 4px 0 0;color: #f9a34f;">Aluminio y cristalería</p>
      <p>Delectus deserunt dolorum eligendi ex exercitationem facere ipsum iste laboriosam nemo nihil!</p>

    </div>
  </div>
</div>

<div class="col-xl-6 col-sm-6 carpinteria">
  <div class="vertical-item text-center gallery-padding hero-bg">
    <div class="item-media">
      <%= cl_image_tag "carpinteria_fachada_can_nebot_h627v2", width: 300, height: 300, gravity: "auto", crop: "fill" %>
      <div class="media-links">
        <div class="links-wrap">
          <a class="link-zoom photoswipe-link" title="" href="https://res.cloudinary.com/rgm-ibiza-metal/image/upload/v1620983359/carpinteria_fachada_can_nebot_h627v2.jpg"></a>
        </div>
      </div>
    </div>
    <div class="item-content">
      <h3 class="gallery-title">
        <a href="gallery-single.html">Elitr sed diam nonumy</a>
      </h3>
      <p style="display: inline-block;line-height: 1;font-size: 1rem;text-transform: uppercase;font-weight: 500;letter-spacing: 0.2em;margin: 8px 4px 0 0;color: #f9a34f;">Aluminio y cristalería</p>
      <p>Accusantium atque dolor, dolorem facere impedit laboriosam laudantium magnam nisi, sun ipsum.</p>

    </div>
  </div>
</div>
