<section class="page_slider">
  <div class="flexslider">
    <ul class="slides">
      <li class="ds ms text-center">
        <%= cl_image_tag "russ-ward-18MJRuL4tUE-unsplash_txs0bh", width: 1920, class: "background-slider" %>
        <div class="container intro-container">
          <div class="row">
            <div class="col-md-12">
              <div class="intro_layers_wrapper">
                <div class="intro_layers">
                  <div class="intro_layer intro_div intro_logo" data-animation="fadeInUp">
                    <%= cl_image_tag "logo-rgm_o34ajj", style: "width: 25rem;" %>
                  </div>
                  <div class="intro_layer intro_div" data-animation="fadeInUp">
                    <ul id="intro-list">
                      <li>
                        <p>
                          Estructuras metálicas
                        </p>
                      </li>
                      <li>
                        <p>
                          Soldadores homologados ISO 9606-1
                        </p>
                      </li>
                      <li>
                        <p>
                          Acero inox
                        </p>
                      </li>
                      <li>
                        <p>
                          Aluminio
                        </p>
                      </li>
                      <li>
                        <p>
                          Acristalamientos
                        </p>
                      </li>
                      <li>
                        <p>
                          Hierro
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- eof .intro_layers -->
              </div>
              <!-- eof .intro_layers_wrapper -->
            </div>
            <!-- eof .col-* -->
          </div>
          <!-- eof .row -->
        </div>
        <!-- eof .container-fluid -->
      </li>
      <li class="ds ms text-center">
        <%= cl_image_tag "vahid-kanani-vgIpLzageWI-unsplash_suifwu", width: 1920, class: "background-slider" %>
        <div class="container intro-container">
          <div class="row">
            <div class="col-md-12">
              <div class="intro_layers_wrapper">
                <div class="intro_layers">
                  <div class="intro_layer intro_div intro_logo" data-animation="pullUp">
                    <h2 class="text-uppercase intro_featured_word">
                      ¡Suéñalo!
                    </h2>
                  </div>
                  <div class="intro_layer intro_div" data-animation="fadeInUp">
                    <h2 class="text-uppercase intro_featured_word after_featured">
                      Nosotros podemos construir!
                    </h2>
                  </div>
                </div>
                <!-- eof .intro_layers -->
              </div>
              <!-- eof .intro_layers_wrapper -->
            </div>
            <!-- eof .col-* -->
          </div>
          <!-- eof .row -->
        </div>
        <!-- eof .container-fluid -->
      </li>

      <li class="ds ms text-center">
        <%= cl_image_tag "kyle-levesque-TB-GyBM8Kpc-unsplash_d11fso", width: 1920, class: "background-slider" %>
        <div class="container intro-container">
          <div class="row">
            <div class="col-md-12">
              <div class="intro_layers_wrapper">
                <div class="intro_layers">
                  <div class="intro_layer intro_div intro_logo" data-animation="fadeInUp">
                    <%= cl_image_tag "logo-rgm_o34ajj", style: "width: 25rem;" %>
                  </div>
                  <div class="intro_layer intro_div" data-animation="fadeInUp">
                    <h2 style="font-size: 2.5rem;" class="intro_before_featured_word">
                      Completamos proyectos a tiempo
                    </h2>
                  </div>
                </div>
                <!-- eof .intro_layers -->
              </div>
              <!-- eof .intro_layers_wrapper -->
            </div>
            <!-- eof .col-* -->
          </div>
          <!-- eof .row -->
        </div>
        <!-- eof .container-fluid -->
      </li>
    </ul>
  </div>
  <!-- eof flexslider -->
</section>
