<section class="page_slider">
  <div class="flexslider">
    <ul class="slides">
      <li class="ds ms text-center">
        <%= cl_image_tag "c-d-x-J6fmT2TosSA-unsplash_rgoplm", width: 1920, height: 1080, crop: "fill", gravity: "center", style: "max-height: 100vh;" %>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="intro_layers_wrapper">
                <div class="intro_layers">
                  <div class="intro_layer intro_div" data-animation="fadeInUp">
                    <%= cl_image_tag "logo-rgm_o34ajj", style: "width: 25rem;" %>
                  </div>
                  <div class="intro_layer intro_div" data-animation="fadeInUp">
                    <h2 class="intro_before_featured_word">
                      Construimos las cosas que los arquitectos sueñan
                    </h2>
                  </div>
                </div>
                <!-- eof .intro_layers -->
              </div>
              <!-- eof .intro_layers_wrapper -->
            </div>
            <!-- eof .col-* -->
          </div>
          <!-- eof .row -->
        </div>
        <!-- eof .container-fluid -->
      </li>
      <li class="ds ms text-center">
        <%= cl_image_tag "vahid-kanani-vgIpLzageWI-unsplash_suifwu", width: 1920, height: 1080, style: "max-height: 100vh;" %>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="intro_layers_wrapper">
                <div class="intro_layers">
                  <div class="intro_layer intro_div" data-animation="pullUp">
                    <h2 class="text-uppercase intro_featured_word">
                      ¡Suéñalo!
                    </h2>
                  </div>
                  <div class="intro_layer intro_div" data-animation="fadeInUp">
                    <h2 class="text-uppercase intro_featured_word after_featured">
                      Nosotros podemos construir!
                    </h2>
                  </div>
                </div>
                <!-- eof .intro_layers -->
              </div>
              <!-- eof .intro_layers_wrapper -->
            </div>
            <!-- eof .col-* -->
          </div>
          <!-- eof .row -->
        </div>
        <!-- eof .container-fluid -->
      </li>

      <li class="ds ms text-center">
        <%= cl_image_tag "kyle-levesque-TB-GyBM8Kpc-unsplash_d11fso", width: 1920, height: 1080, style: "max-height: 100vh;" %>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="intro_layers_wrapper">
                <div class="intro_layers">
                  <div class="intro_layer intro_div" data-animation="fadeInUp">
                    <%= cl_image_tag "logo-rgm_o34ajj", style: "width: 25rem;" %>
                  </div>
                  <div class="intro_layer intro_div" data-animation="fadeInUp">
                    <h2 style="font-size: 2.5rem;" class="intro_before_featured_word">
                      Completamos proyectos a tiempo
                    </h2>
                  </div>
                </div>
                <!-- eof .intro_layers -->
              </div>
              <!-- eof .intro_layers_wrapper -->
            </div>
            <!-- eof .col-* -->
          </div>
          <!-- eof .row -->
        </div>
        <!-- eof .container-fluid -->
      </li>
    </ul>
  </div>
  <!-- eof flexslider -->
</section>
