<section class="ds s-pt-75 s-pb-20 s-pt-lg-100 s-pb-lg-30 c-gutter-60 c-mb-50 c-mb-md-60 service-icon" id="services">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-6 col-lg-3 animate" data-animation="fadeInUp">

        <div class="icon-box text-center">
          <%= link_to service_1_path, data: { turbolinks: false } do %>
            <%= cl_image_tag "greg-rosenke-xoxnfVIE7Qw-unsplash_tnfvls", width: 200, height: 200, crop: "fill", style: "border-radius: 5px;" %>
          <% end %>
          <h5>
            <%= link_to "Carpintería de aluminio y cristaleria", service_1_path, data: { turbolinks: false }  %>
          </h5>

          <p>
            Somos soldadores homologados según la normativa ISO 9606-1 (fotos de nuestros trabajos en  carpintería metálica y estructuras
          </p>


        </div>
      </div>
      <!-- .col-* -->
      <div class="col-12 col-md-6 col-lg-3 animate" data-animation="fadeInUp">

        <div class="icon-box text-center">
          <%= link_to service_2_path, data: { turbolinks: false } do %>
            <%= cl_image_tag "mark-potterton-sNVkn3507Oo-unsplash_f1i51p", width: 200, height: 200, crop: "fill", style: "border-radius: 5px;" %>
          <% end %>
          <h5>
            <%= link_to "Estructuras metálicas", service_2_path, data: { turbolinks: false }  %>
          </h5>

          <p>
            Fabricamos todo tipo de trabajos en acero inox 316 pulido y sin pulir . Barandillas , rejas , productos en a. inox marino  para embarcaciones , etc
          </p>


        </div>
      </div>
      <!-- .col-* -->
      <div class="col-12 col-md-6 col-lg-3 animate" data-animation="fadeInUp">

        <div class="icon-box text-center">
          <%= link_to service_3_path, data: { turbolinks: false } do %>
            <%= cl_image_tag "welding-67640_lsyzrz", width: 200, height: 200, crop: "fill", style: "border-radius: 5px;" %>
          <% end %>
          <h5>
            <%= link_to "Soldadores", service_3_path, data: { turbolinks: false }  %>
          </h5>

          <p>
            From project initiation until final signoff, you’ll have dedicated, real people that make service our top priority.
          </p>


        </div>
      </div>
      <!-- .col-* -->
      <div class="col-12 col-md-6 col-lg-3 animate" data-animation="fadeInUp">

        <div class="icon-box text-center">
          <%= link_to service_4_path, data: { turbolinks: false } do %>
            <%= cl_image_tag "fotos-terrazas-024_ybgld2", width: 200, height: 200, crop: "fill", style: "border-radius: 5px;" %>
          <% end %>
          <h5>
            <%= link_to "Cortinas de cristal LUMON", service_4_path, data: { turbolinks: false }  %>
          </h5>

          <p>
            In every cut and angle, materials match project specs to ensure adherence timelines and sequencing.
          </p>


        </div>
      </div>
      <!-- .col-* -->
      <div class="col-12 col-md-6 col-lg-3 animate" data-animation="fadeInUp">

        <div class="icon-box text-center">
          <%= link_to service_5_path, data: { turbolinks: false } do %>
            <%= cl_image_tag "pawel-czerwinski-JF5QnRJ-icI-unsplash_iutbcd", width: 200, height: 200, crop: "fill", style: "border-radius: 5px;" %>
          <% end %>

          <h5>
            <%= link_to "Muebles", service_5_path, data: { turbolinks: false }  %>
          </h5>

          <p>
            In every cut and angle, materials match project specs to ensure adherence timelines and sequencing.
          </p>


        </div>
      </div>
      <div class="d-none d-lg-block divider-25"></div>

    </div>
  </div>
</section>
