<section class="ds s-pt-75 s-pb-20 s-pt-lg-100 s-pb-lg-30 c-gutter-60 c-mb-50 c-mb-md-60 service-icon" id="services">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-6 col-lg-4 animate" data-animation="fadeInUp">

        <div class="icon-box text-center">
          <%= image_tag "icon-01.png", alt: "alttext" %>

          <h5>
            <a href="service-single.html">Creativity</a>
          </h5>

          <p>
            Complex jobs. Difficult installations. Artistic beauty. Creativity is found across our wide breadth of work.
          </p>


        </div>
      </div>
      <!-- .col-* -->
      <div class="col-12 col-md-6 col-lg-4 animate" data-animation="fadeInUp">

        <div class="icon-box text-center">
          <%= image_tag "icon-02.png", alt: "alttext" %>

          <h5>
            <a href="service-single.html">Reliability</a>
          </h5>

          <p>
            Our local team is trusted to finish every job according to plan. Even when the plans have to change mid-stream.
          </p>


        </div>
      </div>
      <!-- .col-* -->
      <div class="col-12 col-md-6 col-lg-4 animate" data-animation="fadeInUp">

        <div class="icon-box text-center">
          <%= image_tag "icon-03.png", alt: "alttext" %>

          <h5>
            <a href="service-single.html">Service</a>
          </h5>

          <p>
            From project initiation until final signoff, you’ll have dedicated, real people that make service our top priority.
          </p>


        </div>
      </div>
      <!-- .col-* -->
      <div class="col-12 col-md-6 col-lg-4 animate" data-animation="fadeInUp">

        <div class="icon-box text-center">
          <%= image_tag "icon-04.png", alt: "alttext" %>

          <h5>
            <a href="service-single.html">Precision</a>
          </h5>

          <p>
            In every cut and angle, materials match project specs to ensure adherence timelines and sequencing.
          </p>


        </div>
      </div>
      <!-- .col-* -->
      <div class="col-12 col-md-6 col-lg-4 animate" data-animation="fadeInUp">

        <div class="icon-box text-center">
          <%= image_tag "icon-05.png", alt: "alttext" %>

          <h5>
            <a href="service-single.html">History</a>
          </h5>

          <p>
            For more than 100 years, we have proudly served Southern California, with a focus on San Diego County.
          </p>


        </div>
      </div>
      <!-- .col-* -->
      <div class="col-12 col-md-6 col-lg-4 animate" data-animation="fadeInUp">

        <div class="icon-box text-center">
          <%= image_tag "icon-06.png", alt: "alttext" %>

          <h5>
            <a href="service-single.html">Breadth</a>
          </h5>

          <p>
            Working with architectural sheet metal, metal cladding, composite panels, Trespa, copper, bronze and more.
          </p>


        </div>
      </div>
      <!-- .col-* -->

      <div class="d-none d-lg-block divider-25"></div>

    </div>
  </div>
</section>
