<section class="ds s-pt-60 s-pb-75 s-py-lg-100 team-carousel" id="team">
  <div class="container">
    <div class="row animate" data-animation="fadeInUp">
      <div class="d-none d-lg-block divider-5"></div>
      <div class="col-sm-12 text-center">
        <h2 class="header-section">Our Team</h2>
        <div class="owl-carousel" data-responsive-lg="3" data-responsive-md="2" data-responsive-sm="2" data-responsive-xs="1" data-nav="true" data-loop="true">
          <div class="vertical-item hero-bg content-padding text-center">
            <div class="item-media">
              <%= image_tag "team/01.jpg", alt: "alttext" %>
              <div class="media-links">
                <a href="team-single.html"></a>
              </div>
            </div>
            <div class="item-content">
              <h5>
                <a href="team-single.html">Nicholas Putnam</a>
              </h5>

              <p class="small-text color-main">
                Controller
              </p>
              <p>
                Lorem ipsum dolret consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
              </p>

            </div>
            <div class="link">
              <a href="#" class="btn btn-link">Read more</a>
            </div>

          </div>

          <div class="vertical-item hero-bg content-padding text-center">
            <div class="item-media">
              <%= image_tag "team/02.jpg", alt: "alttext" %>
              <div class="media-links">
                <a title="" href="team-single.html"></a>
              </div>
            </div>
            <div class="item-content">
              <h5>
                <a href="team-single.html">Richard Williams</a>
              </h5>

              <p class="small-text color-main">
                welder
              </p>
              <p>
                Invidunt ut laboret dolore magna aliquyam erated diam voluptua vero eos accusam.
              </p>
            </div>
            <div class="link">
              <a href="#" class="btn btn-link">Read more</a>
            </div>
          </div>

          <div class="vertical-item hero-bg content-padding text-center">
            <div class="item-media">
              <%= image_tag "team/03.jpg", alt: "alttext" %>
              <div class="media-links">
                <a title="" href="team-single.html"></a>
              </div>
            </div>
            <div class="item-content">
              <h5>
                <a href="team-single.html">David Blankenship</a>
              </h5>

              <p class="small-text color-main">
                locksmith
              </p>
              <p>
                Et justo duo dolores eta rebum stet clita kasd gubgergren, no sea takimata sanctus.
              </p>
            </div>
            <div class="link">
              <a href="#" class="btn btn-link">Read more</a>
            </div>
          </div>
          <div class="vertical-item hero-bg content-padding text-center">
            <div class="item-media">
              <%= image_tag "team/04.jpg", alt: "alttext" %>
              <div class="media-links">
                <a title="" href="team-single.html"></a>
              </div>
            </div>
            <div class="item-content">
              <h5>
                <a href="team-single.html">Jeremiah Evans</a>
              </h5>

              <p class="small-text color-main">
                Controller
              </p>
              <p>
                Rump jerky pork jowl pork belly, venison ball tip prosciutto shankle alcatra kielbasa turducken.
              </p>
            </div>
            <div class="link">
              <a href="#" class="btn btn-link">Read more</a>
            </div>
          </div>

          <div class="vertical-item hero-bg content-padding text-center">
            <div class="item-media">
              <%= image_tag "team/05.jpg", alt: "alttext" %>
              <div class="media-links">
                <a title="" href="team-single.html"></a>
              </div>
            </div>
            <div class="item-content">
              <h5>
                <a href="team-single.html">Terry Russell</a>
              </h5>

              <p class="small-text color-main">
                welder
              </p>
              <p>
                Andouille prosciutto strip steak leberkas. Cupim flank bacon, rump beef ribs brisket.
              </p>
            </div>
            <div class="link">
              <a href="#" class="btn btn-link">Read more</a>
            </div>
          </div>

          <div class="vertical-item hero-bg content-padding text-center">
            <div class="item-media">
              <%= image_tag "team/06.jpg", alt: "alttext" %>
              <div class="media-links">
                <a title="" href="team-single.html"></a>
              </div>
            </div>
            <div class="item-content">
              <h5>
                <a href="team-single.html">Zachary Guzman</a>
              </h5>

              <p class="small-text color-main">
                locksmith
              </p>
              <p>
                Brisket ham hock pancetta, ham hamburger fatback short loin biltong ball tip drumstick.
              </p>
            </div>
            <div class="link">
              <a href="#" class="btn btn-link">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="d-none d-lg-block divider-20"></div>
    </div>
  </div>
</section>
