<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->

<head>

  <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
  <title>RGM Ibiza Metal</title>
   <meta name="description" content="">
   <meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   <!-- CSS
   ================================================== -->
   <!-- <link rel="stylesheet" href="css/base.css">
   <link rel="stylesheet" href="css/vendor.css">
   <link rel="stylesheet" href="css/main.css"> -->
   <%= stylesheet_link_tag 'base', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= stylesheet_link_tag 'vendor', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= stylesheet_link_tag 'main_coming_soon', media: 'all', 'data-turbolinks-track': 'reload' %>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

   <!-- Modernizr
   =================================================== -->
   <!-- <script src="js/modernizr.js"></script> -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha512-3n19xznO0ubPpSwYCRRBgHh63DrV+bdZfHK52b1esvId4GsfwStQNPJFjeQos2h3JwCmZl0/LgLxSKMAI55hgw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

   <!-- Favicons
   =================================================== -->
   <!-- <link rel="shortcut icon" href="favicon.png" > -->
   <%= favicon_link_tag 'favicon.png' %>

</head>

<body>

   <!--[if lt IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
   <![endif]-->

   <!-- content-wrap -->
   <div id="content-wrap">

      <!-- main  -->
      <main class="row">

            <header class="site-header">
               <div class="logo">
                <%= cl_image_tag "logo-rgm_o34ajj", width: 300 %>
               </div>
            </header>

            <div id="main-content" class="twelve columns">


               <h1>Nuestro sitio web está casi listo.</h1>

               <p> Bienvenido a www.rgmibizametal.com. Nuestro sitio web se encuentra actualmente en construcción, pero esperamos volver a darle la bienvenida pronto con el lanzamiento de nuestro nuevo sitio web. Mientras tanto, si está interesado en nuestros servicios o tiene una pregunta general, envíe un correo electrónico a <%= mail_to "rgmibizametal@gmail.com", "rgmibizametal@gmail.com" %>.
               </p>

               <hr>
<!--
               <div id="counter" class="group">
                  <span>134 <em>days</em></span>
                  <span>12 <em>hours</em></span>
                  <span>50 <em>minutes</em></span>
                  <span>33 <em>seconds</em></span>
               </div> -->

               <!-- MailChimp Signup Form -->
<!--                <div id="mc-signup">

                  <form id="mc-form" class="group">

                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>

                     <input type="submit" value="Get Notified" name="subscribe" class="button">

                     <label for="mce-EMAIL" class="subscribe-message"></label>

                  </form>
               </div>  -->
               <!-- /sign-up form -->

            </div><!-- /main-content form -->

            <div class="modal-toggles">
               <ul>
                    <li class="about-us"><a href="#mod-about">Más sobre nosotros</a></li>
                    <!-- <li class="location"><a href="#mod-map">Nuestro ubicación</a></li> -->
               </ul>
            </div><!-- /modal-toggles -->

      </main>

   </div><!-- /content-wrap -->


   <!-- modals
   =================================================== -->

  <section id="mod-about" >

     <!-- Modal toggle -->
     <div class="modal-toggle">
        <a href="#" title="close" id="modal-close">close</a>
     </div>

     <div class="row about-header">

      <div class="twelve columns">

         <div class="icon-wrap">
            <i class="icon"></i>
         </div>

        <h1>Sobre nosotros</h1>

      </div>

     </div> <!-- /about-header -->

    <div class="row about-content">

      <div class="six columns mob-whole">
        <p>Nuestro equipo humano está dirigido y asesorado por un  experto en fabricación y uso de los materiales tanto hierro, acero inox como aluminio.
        </p>
        <i>"Le avala una experiencia y profesionalidad de más de 45 años."</i>
      </div>

      <div class="six columns mob-whole contact">

          <h3>Contacto:</h3>
          <p>
            Móvil 1: (+34) 663 825 365<br>
            Móvil 2: (+34) 655 019 569<br>
          </p>

         <h3>Email:</h3>
         <p><%= mail_to "rgmibizametal@gmail.com", "rgmibizametal@gmail.com" %>
         </p>

         <h3>Dirección:</h3>
         <p>
            C/ Río Ebro, 3 - Can Negre <br>
            Eivissa
         </p>

      </div>

    </div> <!-- /about-content -->

    <div class="slider row">

       <hr>

       <ul id="owl-slider" class="owl-carousel">
            <li class="item s-photography">
                <span class="slider-icon"></span>
                <p>Estructuras metálicas</p>
            </li>
            <li class="item s-digital-media">
                <span class="slider-icon"></span>
                <p>Soldadores homologados ISO 9606-1</p>
            </li>
            <li class="item s-marketing">
                <span class="slider-icon"></span>
                <p>Acero inox</p>
            </li>
            <li class="item s-packaging">
                <span class="slider-icon"></span>
                <p>Aluminio</p>
            </li>
            <li class="item s-videography">
                <span class="slider-icon"></span>
                <p>Acristalamientosy</p>
            </li>
            <li class="item s-webdesign">
                <span class="slider-icon"></span>
                <p>Hierro</p>
            </li>
         </ul>

    </div><!-- /slider -->

   </section><!-- /mod-about -->

   <section id="mod-map" >

      <!-- Modal toggle -->
      <div class="modal-toggle">
         <a href="#" title="close" id="modal-close"><span>Close</span></a>
      </div>

      <div id="map-container"></div>

      <div id="map-zoom-in"></div>
    <div id="map-zoom-out"></div>

      <address>
        5th Avenue, Fort Bonifacio <br>
      Taguig, Metro Manila, Philippines
      </address>

   </section><!-- /mod-about -->


  <!-- footer
   =================================================== -->
   <footer class="group">

      <ul class="footer-social">
         <li><a href="https://www.facebook.com/rgmibizametalico" target="_blank"><i class="fab fa-facebook"></i></a></li>
         <li><a href="#"><i class="fa fa-twitter"></i></a></li>
         <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
         <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
         <li><a href="#"><i class="fa fa-instagram"></i></a></li>
         <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
         <li><a href="#"><i class="fa fa-skype"></i></a></li>
      </ul>

      <ul class="footer-copyright">
         <li>&copy; Copyright 2015 Advent</li>
         <li>Design by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a></li>
      </ul>

   </footer>

   <div id="preloader">
      <div id="loader">
      </div>
   </div>

<!-- Script
=================================================== -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js" integrity="sha512-ju6u+4bPX50JQmgU97YOGAXmRMrD9as4LE05PdC3qycsGQmjGlfm041azyB1VfCXpkpt1i9gqXCT6XuxhBJtKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js" integrity="sha512-fDGBclS3HUysEBIKooKWFDEWWORoA20n60OwY7OSYgxGEew9s7NgDaPkj7gqQcVXnASPvZAiFW8DiytstdlGtQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="http://maps.google.com/maps/api/js?v=3.13&amp;sensor=false"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.min.js" integrity="sha512-e2WVdoOGqKU97DHH6tYamn+eAwLDpyHKqPy4uSv0aGlwDXZKGwyS27sfiIUT8gpZ88/Lr4UZpbRt93QkGRgpug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js" integrity="sha512-lteuRD+aUENrZPTXWFRPTBcDDxIGWe5uu0apPEn+3ZKYDwDaEErIK9rvR0QzUGmUQ55KFE2RqGTVoZsKctGMVw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-placeholder/2.3.1/jquery.placeholder.min.js" integrity="sha512-iGsoQ13Qj6qYWj02Un9ZyHJwocDoBDRA8eAYrSlZ98C7kwBkAqW7AUFv0g99NFp3xW9Gr1qaTqjMWBzXswydOw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js" integrity="sha512-9CWGXFSJ+/X0LWzSRCZFsOPhSfm6jbnL+Mpqo0o8Ke2SYr8rCTqb4/wGm+9n13HtDE1NQpAEOrMecDZw4FXQGg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxchimp/1.3.0/jquery.ajaxchimp.min.js" integrity="sha512-5yj5elY9u6clGe9/97bj3jJlw8+O9XSv/tbme8m/LR8cKnnT5+rR8qHW/UYQ/MozLg3cvTHeYIpM5kRktASSbg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<%= javascript_include_tag :main_coming_soon %>

<!-- <script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="http://maps.google.com/maps/api/js?v=3.13&amp;sensor=false"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.placeholder.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/main.js"></script> -->

</body>
</html>
